body {
  margin: 0;
}

.container{
  background-color: rgb(249, 251, 251);
  height: 30vh;
  width: 30vw; 
  margin: 5rem 10rem;
  display: grid;
  grid-template: 40px 100px 150px /  1fr;
  gap:10px;
  grid-template-areas:
    " header "
    " main "
    " image ";
}

.header {
  grid-area: header;
  margin: 20px 0;
  text-align: center;
  background-color: rgb(242, 247, 247);
}

.main {
  grid-area: main;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(213, 183, 209);
}

.image-display{
  grid-area: image;
  width: 35rem;
  height: 30rem;
}

