body {
  margin: 0;
}

.container{
  background-color: rgb(249, 251, 251);
  height: 50vh;
  width: 50vw; 
  display: grid;
  grid-template-rows: 50px 40px 100px 120px;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  gap:10px;
}

.header {
  grid-row: 2/3;
  grid-column: 2/3;
  background-color: rgb(242, 247, 247);
}

.main {
  grid-row: 3/4;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(213, 183, 209);
}

.image-display{
  grid-row: 4/5;
  grid-column: 2/3;
  width: 35rem;
  height: 30rem;
}

